.site-footer {
    background-color: $theme-color;
    margin-top: 3em;

    .container {
        text-align: center;
    }

    p {
        padding-top: 4em;
        color: $accent1;
    }

    .social {
        padding: 1em;
        padding-top: 0;
        font-size: 2rem;
    }

    a {
        color: $accent1;
    }

    a:hover {
        color: $accent2;
    }
}
