.gallery {
    grid-column: span 3;
    display: grid;
    gap: 4em 4em;
    padding: 5em;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;

    img {
        max-width: 100%;
        grid-column: 1 / 3;
    }
}


@media (max-width: 992px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
