.site-header {
    display: grid;
    background-image: $header-img;
    height: 10em;
    background-position: center;
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.logo {
    margin: 1em;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: end;

    h2 {
        font-size: 36px;
        color: #fff;
    }

    p {
        font-style: italic;
        font-size: 14px;
        color: #fff;
    }
}

@media (max-width: 767px) {
    .logo {
        display: none;
    }
}
