.kmom-wrapper {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
    gap: 1em 1em;
    margin: 1em;

    h1 {
        grid-column: 2 / 3;
        justify-self: start;
    }

    p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        padding-right: 10em;
    }
}

.side-nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;

    .active a {
        color: $accent1;
    }

    ul {
        list-style: none;
    }

    li {
        font-size: 26px;
        margin-bottom: 1.5em;
    }
}

@media (max-width: 767px) {
    .side-nav {
        display: none;
    }

    .kmom-wrapper p {
        grid-column: span 3;
        padding-right: 0;
    }
}
