.kmom-wrapper {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    gap: 1em 1em;
    margin: 1em;

    h1 {
        grid-column: 2 / 3;
        justify-self: start;
    }

    p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        padding-right: 10em;
    }
}

.side-nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;

    .active a {
        color: $accent1;
    }

    ul {
        list-style: none;
    }

    li {
        font-size: 26px;
        margin-bottom: 1.5em;
    }
}

.video {
    grid-column: 2 / 3;
    max-width: 50em;
    padding-right: 10em;
}

.embed-container {
    margin: 1em;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .side-nav {
        display: none;
    }

    .kmom-wrapper p {
        grid-column: span 3;
        padding-right: 0;
    }
}
