.kmom-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1em 1em;

    h1 {
        grid-column: span 3;
        justify-self: center;
    }

    p {
        grid-column: span 3;
        grid-row: 2 / 3;
    }

    ul {
        list-style: none;
    }
}

.side-nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    margin-top: 4em;

    .active a {
        color: $theme-color;
    }

    ul {
        list-style: none;
    }

    li {
        font-size: 26px;
        margin-bottom: 1.5em;
    }
}

@media (max-width: 767px) {
    .side-nav {
        display: none;
    }

    .kmom-wrapper p {
        grid-column: span 3;
    }
}
