* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

/* Basic layout
*/
html {
    overflow-y: scroll;
    background-color: $background-color;
    ;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em 1em;
}

.main {
    grid-column: span 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.container {
    grid-column: 2 / 3;
}

.site-header {
    grid-column: span 3;
    grid-row: 1 / 1;
}

.site-footer {
    grid-column: span 3;
    grid-row: 3 / 4;
}

@media (max-width: 767px) {
    body {
        grid-template-columns: 1fr 9fr 1fr;
        gap: 0 0;
    }
}
