.landingpage {
    grid-column: 2 / 3;
    display: grid;
    gap: 1em 1em;
    padding: 1em;
    text-align: center;
}

h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box {
    height: 10em;
    width: 10em;
    grid-column: span 1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    background-color: $kmom-color;
    border: solid 5px rgb($accent1, 0.7);
    border-radius: 100px;

    .to-kmom {
        place-self: center;
        font-size: 48px;
        margin: 0.3em;
        background: linear-gradient(120deg, rgb($accent3, 0.3) 0%, rgb($accent1, 0.9) 100%);
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-background-clip: text;
        color: transparent;
    }
}

.kmom-box:hover {
    border: solid 5px saturate($accent2, 20%);

    .to-kmom {
        background: saturate($accent2, 20%);
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-background-clip: text;
        color: transparent;
    }
}

.kmom-box.project {
    grid-column: 1 / 4;
    width: 100%;
}

.kmom-box h3 {
    // text-shadow: 2px 1px $theme-color;
    padding-top: 1em;
    font-size: 36px;
}

@media (max-width: 767px) {
    .kmom-box {
        grid-column: span 4;
        justify-self: center;
    }

    .kmom-box.project {
        grid-column: span 4;
        justify-self: center;
        width: 10em;
    }
}
