.start-wrapper {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1em 1em;
    margin-top: 2em;
    padding: 1em;
    border: 5px rgba($accent1, 0.4) solid;
    box-shadow: $content-shadow;
    // background-color: #f7faff;
}

.start-wrapper h1 {
    grid-column: span 3;
    grid-row: 1 / 1;
    text-align: center;
}

.start-wrapper p {
    grid-column: span 3;
    grid-row: 3 / 4;
}

.start-wrapper img {
    max-width: 15em;
    filter: $picture-filter;
    border-radius: 50%;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    border: solid 5px rgba($accent1, 0.7);
}

.start-wrapper picture {
    grid-column: span 3;
    grid-row: 2 / 3;
    justify-self: center;
}

@media (max-width: 767px) {
    .start-wrapper {
        grid-column: span 3;
        margin: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 10em auto;
        gap: 1em 1em;
    }

    .start-wrapper p {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    .start-wrapper img {
        height: 10em;
    }
}
