.kmom-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1em 1em;
}

.kmom-wrapper h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-wrapper p {
    grid-column: span 3;
    grid-row: 2 / 3;
}

.kmom-wrapper ul {
    list-style: none;
}

.active a {
    color: darken($main-green, 30%);
}

@media (max-width: 767px) {
    .side-nav {
        display: none;
    }

    .kmom-wrapper p {
        grid-column: span 3;
    }
}
