.start-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1em 1em;
}

.start-wrapper h1 {
    grid-column: span 3;
    grid-row: 1 / 1;
    text-align: center;
}

.start-wrapper p {
    grid-column: span 2;
    grid-row: 2 / 3;
}

.start-wrapper img {
    grid-column: span 1;
    grid-row: 2 / 3;
    max-width: 100%;
}
//
//     ul {
//         padding: 2em;
//         padding-top: 0.5em;
//     }
//
//     a:hover {
//         text-decoration: underline;
//     }
//
//     img {
//         display: inline-block;
//         max-width: 40em * 0.33;
//         margin: 2em;
//         float: right;
//         box-shadow: 3px 3px rgba(158, 158, 158, 0.6);
//     }
//
//     p {
//         display: inline-block;
//         max-width: 45em;
//     }
//
//     h1 {
//         text-align: left;
//     }
// }
//
@media (max-width: 767px) {
    .start-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 10em auto;
        gap: 1em 1em;
    }

    .start-wrapper p {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    .start-wrapper img {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        height: 10em;
        justify-self: center;
    }
}
