$font-size: 0.9em;
$line-height: 1.2;
$base-line: $font-size * $line-height;

$main-green: rgb(129, 170, 132);
$black: #000;

$hero-heigt: 3 * (1.26em + 1) + 1.2; // change the threes if you add more links in navbar
